<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      You received an email via site Contact Form from: 
      <%=" #{@name}, #{@email} "%>
      <p><%= @body %></p>
    </p>
  </body>
</html>